<h4>click any item</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items; let i = index" (click)="getSelectedItem(item)">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
    </tr>
    <tr *ngIf="items.length === 0">
      <td colspan="3">There are no items.</td>
    </tr>
  </tbody>
</table>

<div *ngIf="clickedItem">
  <h2>Selected Item Details</h2>
  <p><strong>ID:</strong> {{ selectedItemDetails.id }}</p>
  <p><strong>Name:</strong> {{ selectedItemDetails.name }}</p>
  <p><strong>Price:</strong> {{ selectedItemDetails.price }}</p>
  <p><strong>Description:</strong> {{ selectedItemDetails.description }}</p>
</div>